# Extract CA cert
oc -n {{ kafka_ns }} get secret mano-kafka-cluster-cluster-ca-cert -o jsonpath='{.data.ca\.crt}' | base64 -d > {{ secrets_path }}/ca-bundle.crt

# Extract client key
oc -n {{ kafka_ns }} get secret mano-kafka-cluster-clients-ca -o jsonpath='{.data.ca\.key}' | base64 -d > {{ secrets_path }}/tls.key

# Extract client certificate
oc -n {{ kafka_ns }} get secret mano-kafka-cluster-clients-ca-cert -o jsonpath='{.data.ca\.crt}' | base64 -d > {{ secrets_path }}/tls.crt
