oc delete secret -n {{ quay_ns }} ldap-config-bundle-secret
oc delete secret -n {{ quay_ns }} db-config-bundle-secret

oc create secret generic \
    --from-file config.yaml={{ scripts_path }}/config_ldap.yml \
    --from-file ssl.cert={{ quay_cert_path }} \
    --from-file ssl.key={{quay_key_path }} \
    -n {{ quay_ns }} \
    ldap-config-bundle-secret

oc create secret generic \
    --from-file config.yaml={{ scripts_path }}/config_database.yml \
    --from-file ssl.cert={{ quay_cert_path }} \
    --from-file ssl.key={{quay_key_path }} \
    -n {{ quay_ns }} \
    db-config-bundle-secret

