#
# Pick the original pull secret from crucible directory
# 
cp {{ pull_secret_path }} {{ icsp_path }}/pull-secret.json

#
# Add quay repository username:password to pull secret

#
# Add local Quay credentials to Pull secret
#
host_fqdn={{ quay_fqdn }}; echo $host_fqdn

b64auth=$(echo -n '{{ quay_user }}:{{ quay_password }}' | base64 -w0); echo $b64auth
AUTHSTRING="{\"{{ quay_fqdn }}\": {\"auth\": \"$b64auth\",\"email\": \"dummay@quay.com\"}}"; echo $AUTHSTRING

jq -c ".auths += $AUTHSTRING" < {{ icsp_path }}/pull-secret.json > {{ icsp_path }}/pull-secret-temp.json

#
# Add remote quay credentials to pull secret
#
host_fqdn={{ remote_quay_fqdn }}; echo $host_fqdn
b64auth=$(echo -n '{{ quay_user }}:{{ quay_password }}' | base64 -w0); echo $b64auth
AUTHSTRING="{\"{{ remote_quay_fqdn }}\": {\"auth\": \"$b64auth\",\"email\": \"dummy@quay.com\"}}"; echo $AUTHSTRING
jq -c ".auths += $AUTHSTRING" < {{ icsp_path }}/pull-secret-temp.json > {{ icsp_path }}/{{ local_secret_json }}

#
# Copy pull secret to docker config
#
mkdir -p ~/.docker
cp {{ icsp_path }}/{{ local_secret_json }} ~/.docker/config.json

