export tag='v1.8.0'
export LOCAL_SECRET_JSON='{{ local_secret_json }}'
export LOCAL_REGISTRY='{{ quay_fqdn }}/quay/jetstack'
export REMOTE_REGISTRY='{{ remote_quay_fqdn }}/quay/jetstack'

echo "Change directory to {{ icsp_path }}"
cd {{ icsp_path }}

for image in \
cert-manager-webhook \
cert-manager-cainjector \
cert-manager-controller
do
  echo "Mirroring image $image with tag $tag\n"
      oc -a $LOCAL_SECRET_JSON image mirror ${REMOTE_REGISTRY}/$image:${tag} $LOCAL_REGISTRY/$image
done

