#
# Add credentials for the new Quay to pull secret
#
echo "Extract the current pull secret"
oc extract secret/pull-secret -n openshift-config --confirm --to=.

echo "Add new quay credentials to pull secret"

#
# Add new quay repository username:password to pull secret
# username: quay, passwd: registry
#
host_fqdn={{ quay_fqdn }}; echo $host_fqdn
remote_host_fqdn={{ remote_quay_fqdn }}; echo $host_fqdn

b64auth=$(echo -n '{{ quay_user }}:{{ quay_password }}' | base64 -w0); echo $b64auth
AUTHSTRING="{\"$host_fqdn\": {\"auth\": \"$b64auth\",\"email\": \"dummy@quay.next\"},\"$remote_host_fqdn\": {\"auth\": \"$b64auth\",\"email\": \"dummy@quay.next\"}}"; echo $AUTHSTRING

jq -c ".auths += $AUTHSTRING" < .dockerconfigjson > .dockerconfigjson-upd

echo "Push updated pull secret back to the cluster"
oc -n openshift-config set data secret/pull-secret --from-file=.dockerconfigjson=.dockerconfigjson-upd

echo "Delete the local dockerconfigjson files"
rm .dockerconfigjson
rm .dockerconfigjson-upd
