---
SUPER_USERS:
- quayadmin

FEATURE_USER_INITIALIZE: true
BROWSER_API_CALLS_XHR_ONLY: false
#FEATURE_USER_CREATION: false
ALLOW_PULLS_WITHOUT_STRICT_LOGGING: false
DEFAULT_TAG_EXPIRATION: 2w
ENTERPRISE_LOGO_URL: /static/img/RH_Logo_Quay_Black_UX-horizontal.svg
FEATURE_BUILD_SUPPORT: false
FEATURE_DIRECT_LOGIN: true
FEATURE_MAILING: false
FEATURE_REPO_MIRROR: true
REPO_MIRROR_INTERVAL: 30
REPO_MIRROR_SERVER_HOSTNAME: "{{ quay_fqdn }}"
REPO_MIRROR_TLS_VERIFY: false
REPO_MIRROR_ROLLBACK: true
REGISTRY_TITLE: Red Hat Quay
REGISTRY_TITLE_SHORT: Red Hat Quay
TAG_EXPIRATION_OPTIONS:
- 2w
TEAM_RESYNC_STALE_TIME: 60m
SERVER_HOSTNAME: {{ quay_fqdn }}
TESTING: false
AUTHENTICATION_TYPE: Database
